{% extends 'main.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<section id="current-order" class="border-bottom">
  
    <div class="container-fluid bg-white">
      {% for product in order_products %} 
      <div class="row bucket-row align-items-center bg-light border px-2 mt-1">      
      <div class="col-xs-3 col-sm-3 col-md-2 bg-white">
        
          <div class="image-container d-flex p-2 bg-white mx-auto">
            <img class="img img-fluid h-75 mx-auto pt-2" src="{{ product.product_id.featured_img.url }}" />
          </div>
      </div>

      <div class="col-xs-3 col-sm-3 col-md-7">
        <h5 class="text-primary text-center pt-1">
          <a class="text-decoration-none" href="{% url 'goods_article' product.product_id.id %}">
            {{ product.product_id.name }}
          </a>
        </h5>
        <p class="d-none d-md-block">{{ product.product_id.description|slice:"200" }}...</p>
      </div>
        <!-- BUTTONS -->
      <div class="col-xs-2 col-sm-2 col-md-1 p-2">

        <div class="row">
          <div class="col">
            <div class="button-bucket-cont d-flex">
              <form class="button-bucket" action="{% url 'increase_item' product.id %}" method="POST">
                {% csrf_token %}
              <button type="submit" class="btn btn-outline-primary text-center" name="{{product.id}}">
                <i class="fa-solid fa-plus fa-xs"></i>
              </button>
              </form>
        
              <form class="button-bucket" action="{% url 'decrease_item' product.id %}" method="POST">
                  {% csrf_token %}
              <button type="submit" class="btn btn-outline-primary text-center" name="{{product.id}}">
                <i class="fa-solid fa-minus fa-xs"></i>
              </button>
              </form>
            </div>
          </div>     
        </div>

        <div class="row my-1">
          <div class="col">
            
            <form class="d-flex" action="{% url 'delete_item' product.id %}" method="POST">
              {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-danger mx-auto w-100" name="{{product.id}}">  
              <i class="fa-solid fa-trash-can fa-xl text-white my-auto"></i>
            </button>
            </form>
           
          </div>
        </div>

      </div>
      <!-- END BUTTONS -->

      <div class="col-xs-4 col-sm-4 col-md-2 p-2 text-center count-price-bucket">
        {% if product.product_id.discount %}
        <p class="lead">
          <strong>{{ product.count}}</strong>&nbsp;x&nbsp;<s>{{product.product_id.price}}</s>&nbsp;<span class="text-danger"><strong>{{product.product_id.discount}}</strong></span>
        </p>
      {% else %}
      <p class="lead">
        <strong>{{ product.count}}</strong>&nbsp; x &nbsp;<strong>{{product.product_id.price}}</strong>
      </p>     
      {% endif %}
    
      <p class="lead">
        <strong>Сума: {{ product.total_price }}</strong>
      </p>


      </div>

      
    </div>
    {% endfor %}   
  </div>
</section>

<!-- Total SUM -->
<section id="total-sum">
  <div class="row">
    <div class="col text-center">
        <h4 class="ms-4 my-4">Всього до сплати: {{total_sum}}</h4>
        <a class="btn btn-success w-50 d-flex mx-auto justify-content-center" href="{% url 'goods_processing' %}" id="bucket-button">ОФОРМИТИ</a>
    </div>
  </div>
</section>

<!-- PREVIOUS ORDERS -->

<section id="previousOrders" class="mt-5">
  {% if order_cards %}
  <div class="header bg-primary text-center py-3">
    <h4 class="text-white">Попередні замовлення</h4>
  </div>

  <ul class="list-group list-group-flush">
    {% for card in order_cards %} 
    <li class="list-group-item list-group-item-dark pt-4"><p class="lead">{{card.created|date:'Y-m-d'}} | сума = {{card.total}} | статус: {{card.status}} <a class="btn btn-sm btn-outline-primary" href="{% url 'user_order' card.id%}">Детальніше</a></p></li>
    {% endfor %} 
  </ul>
  {% endif %}
</section>

{% else %}
<section id="current-order1" class="border-bottom">
  <h1>NOT AUTORIZED</h1>
</section>
{% endif %}

{% endblock content %}