{% extends 'main.html' %}
{% load static %}

{% block content %}

    <!-- Page Content -->
    <!-- Items Starts Here -->
    <div class="featured-page">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Категорії: </h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if request.user.is_superuser %}
    <section id="admin-category">
      <div class="wrapper bg-warning py-4">
        <div class="container">
          <div class="row text-center">
            <div class="col">
              <p class="lead">Адмін панель</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button class="btn btn-lg btn-success">
                Додати категорію
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endif %}

    <div class="featured container no-gutter">
      <div class="row posts">
          {% for category in categories %}
          <div id="1" class="item new col-md-4">
            <div class="card text-center" width="100%">
              <a class="text-decoration-none" href="{% url 'product_category' category.id%}">
                <img class="img img-fluid" src="{{category.featured_img.url}}" alt="">
                <h4 >{{category.name}}</h4>
              </a>
            </div>              
          </div>
          {% endfor %}
      </div>
    </div>

    <div class="page-navigation my-4">
      <div class="container">
        <div class="row">
          <div class="col-md-12 d-flex">

              {% include 'category-pagination.html' with queryset=categories custom_range=custom_range %}

          </div>
        </div>
      </div>
    </div>
    <!-- Featred Page Ends Here -->


{% endblock %}

