{% extends 'main.html' %}
{% load static %}

{% block content %}

    <!-- Page Content -->
    <!-- Items Starts Here -->
    <div class="featured-page">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Featured Items</h1>
            </div>
          </div>
          <div class="col-md-8 col-sm-12">

          </div>
        </div>
      </div>
    </div>

    <div class="featured container no-gutter">

        <div class="row posts">
            {% for category in categories %}
            <div id="1" class="item new col-md-4">
              <a href="{% url 'product_category' category.id%}">
                <div class="featured-item">
                  <img src="{{category.featured_img.url}}" alt="">
                  <h4>{{category.name}}</h4>

                </div>
              </a>
            </div>
            {% endfor %}

        </div>
    </div>

    <div class="page-navigation my-4">
      <div class="container">
        <div class="row">
          <div class="col-md-12 d-flex">

              {% include 'pagination.html' with queryset=categories custom_range=custom_range %}

          </div>
        </div>
      </div>
    </div>
    <!-- Featred Page Ends Here -->


{% endblock %}

