{% extends 'main.html' %}
{% load static %}


{% block content %}
<!-- BANNER -->
<section id="mybanner">
<!-- <div class="d-block" width="100%">
  <img src="{% static 'images/banner-bg.jpg' %}" alt="" class="img-fluid"> 
</div> -->


  <div class="banner-photo">
    <div class="wrapper-banner d-flex">
      <div class="container">
      <div class="row">
        <div class="col-sm-5 banner-info p-3 mt-5 mx-auto visible">
          <p class="lead text-warning">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia sunt et expedita aliquam repellat modi consequatur similique porro esse cum aperiam commodi velit, quidem harum sapiente ex eligendi neque sit doloribus? Alias quo ipsa blanditiis eligendi, similique obcaecati incidunt quisquam.</p>
        </div>

        <div class="col-sm-7">

        </div>
      </div>
      </div>

  </div>
</div>
</section>

<!-- CAROUSEL -->
<section id="carousel-lg py-4">
  <div class="container" height="300px">
    <div class="owl-carousel owl-theme">
      {% for product in products %}
      <div class="card pb-2 my-2 bg-light">
        <a href="{% url 'goods_article' product.id %}">
          <img src="{{product.featured_img.url}}" class="card-img-top" alt="...">
        </a>
        <div class="card-body text-center">
          <h5 class="card-title text-warning">{{product.name}}</h5>
          {% if product.discount %}
          <h6 class="card-subtitle text-muted"><span class="text-danger"><s>{{product.price}}</s></span> {{product.discount}}грн.</h6>
          {% else %}
          <h6 class="card-subtitle text-muted">{{product.price}} грн.</h6>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- SHORT-INFO -->
<section id="short-info">
  <div class="background-wrapper bg-primary mt-5 py-3">
    <div class="container text-center py-3 px-5">
      <h1 class="text-info">Subscribe on PIXIE now!</h1>
      <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae debitis distinctio architecto quia consectetur expedita accusantium doloremque sapiente esse sunt. At perferendis maiores beatae accusamus.</p>
    </div>
  </div>
</section>

{% endblock %}
        <!-- <div class="owl-carousel owl-theme">

          {% for product in products %}
          <a href="{% url 'goods_article' product.id %}">
            <div class="featured-item">
              <img src="{% static product.featured_img.url %}" alt="Item 9">
              <h4>{{product.name}}</h4>
              <h6>{{product.price}}</h6>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
Featred Ends Here -->

