{% extends 'main.html' %}
{% load static %}

{% block content %}

    <!-- ADMIN PANEL -->
    {% if request.user.is_superuser %}
    <section id="admin-category">
      <div class="wrapper bg-warning py-4">
        <div class="container">
          <div class="row text-center">
            <div class="col">
              <p class="lead">Адмін панель</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a href="{% url 'create-product' category_id.id %}" class="btn btn-lg btn-success">
                Додати Товар
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endif %}

    <!-- Items Starts Here -->
    <div class="featured-page">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>{{category_id}}</h1>
            </div>
          </div>
          <div class="col-md-8 col-sm-12 d-flex">
            <div id="filters" class="button-group ms-auto mt-2">
              <form action="{% url 'product_category' category_id.id %}" method="POST">
                {% csrf_token %}
              <button type="submit" name="new" class="btn btn-primary" value="new" data-filter=".new">Нові</button>
              <button type="submit" name="low" class="btn btn-primary" value="low" data-filter=".low">Нижча ціна</button>

              <button type="submit" name="high" class="btn btn-primary" data-filter=".high" value="high">Вища ціна</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  

      <!-- CATEGORY GOODS -->
      <div class="section" id="category-goods">
        <div class="container">
          <div class="row">
            {% for product in products %}
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <!-- ADMIN SECTION -->
              {% if request.user.is_superuser %}
              <div class="row">                 
                <div class="col d-flex"> 
                  <a href="{% url 'update-product' product.id %}" class="btn btn-sm btn-warning edit-button d-flex justify-content-center">
                    <i class="fa-solid fa-gear fa-xl text-white my-auto"></i>
                  </a>
              
                  <a href="#" class="btn btn-sm btn-danger delete-button d-flex justify-content-center" data-bs-toggle="modal" data-bs-target="#ID{{product.id}}">
                    <i class="fa-solid fa-trash-can fa-xl text-white my-auto"></i>
                  </a>
                </div>

                <!-- MODAL DELETE CONFIRMATION -->
                <div class="modal fade" id="ID{{product.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Видалення Товару</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p class="lead">Ви точно бажаєте видалити продукт {{product}}?</p>
                      </div>
                      <div class="modal-footer">
                        <form action="{% url 'delete-product' product.id %}" method="POST">
                          {% csrf_token %}
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Відміна</button>
                        <button type="submit" class="btn btn-danger">ВИДАЛИТИ!</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}


              <div class="card my-3 mx-auto text-center product-card bg-light"  style="width: 100%;">
                <a href="{% url 'goods_article' product.id %}">
                  <img class="img-fluid" src="{{product.featured_img.url}}" alt="" class="card-img-top">
                </a>
                <div class="card-body" >
                  <h5 class="card-title" style="height: 2.5rem;"><a class="text-decoration-none  text-warning fs-6" href="{% url 'goods_article' product.id %}">{{product.name}}</a></h5>
                  {% if product.discount %}
                    <p class="my-0"><s>{{product.price}} грн.</s></p>
                    <p class="text-danger my-0">{{product.discount}} грн.</p>
                  {% else %}
                    <p class="my-0">{{product.price}} грн.</p>
                    <p class="my-0 text-white">_____</p>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- END CATEGORY GOODS -->
        
 

    <div class="page-navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-12  d-flex mx-auto">
            {% include 'pagination.html' with queryset=products custom_range=custom_range %}
          </div>
        </div>
      </div>
    </div>
    <!-- Featred Page Ends Here -->


{% endblock %}

