{% extends 'main.html' %}
{% load static %}

{% block content %}

  <!-- Page Content -->
    <!-- Items Starts Here -->
    <div class="featured-page">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Товари знайдено:</h1>
            </div>
          </div>
          <div class="col-md-8 col-sm-12">

          </div>
        </div>
      </div>
    </div>

    <div class="featured container no-gutter">

      <div class="section" id="category-goods">
        <div class="container">
          <div class="row">
            {% for product in products %}
            <div class="col-sm-6 col-md-3 col-lg-2">
              <div class="card my-3 mx-auto text-center"  style="width: 100%;">
                <a href="{% url 'goods_article' product.id %}">
                  <img class="img-fluid" src="{{product.featured_img.url}}" alt="" class="card-img-top">
                </a>
                <div class="card-body">
                  <h5 class="card-title"><a class="text-decoration-none fs-6" href="{% url 'goods_article' product.id %}">{{product.name}}</a></h5>
                  <p>{{product.price}} грн.</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </div>

<div class="page-navigation">
      <div class="container">
        <div class="row">
          <div class="col-12 justify-content-center d-flex">
            
              {% include 'pagination.html' with queryset=products custom_range=custom_range %}
            </div>
          </div>
        </div>
      </div>
    
    <!-- Featred Page Ends Here -->

{% endblock %}

