$primary: #482673;
$light: #f6ebf4;
$danger: #ed0b70;
$info: #4cbfa6;
$warning: #301008;

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';


h1 {
  font-family: 'Play', sans-serif;
}

#pre-header {
  h4 {
    font-family: 'Marck Script', cursive;
  }
}

// NEED TO MOVE ADMIN BUTTON OUTSIDE CARDS AND ADD STYLING
// .featured-item:hover,
// .card:hover {
//   transform: scale(1.04);
//   transition: 0.3s;
// }

#navbarResponsive {
  border-top: 1px rgba(0, 0, 0, 0.1) solid;
}

#navigation {
  li {
    a {
      font-size: 1.2rem;
      font-family: 'Play', sans-serif;
      color: #301008;
      font-weight: bold;
      margin-left: 10px;

    }

    a:hover {
      color: $light  !important;
      transition: 0.9s !important;
    }
  }
}

#mybanner {
  .wrapper-banner {
    width: 100%;
    /* Full width (cover the whole page) */
    height: 450px;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    transition: 0.9s;
    background-color: rgba(30, 5, 52, 0.5);
    /* Black background with opacity */
  }

  .wrapper-banner:hover {
    transition: 0.9s;
    background-color: rgba(237, 11, 112, 0.3);
    /* Black background with opacity */
  }


  .banner-photo {
    background: url(../images/banner-bg2.jpg);
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 90% 10%;
    background-size: cover;
    transition: 0.9s;
  }

  .banner-photo:hover {

    background-position: right 85%;
    transition: 0.9s;
  }

  .banner-info {
    background-color: rgba(255, 255, 255, 0.5);

    p {
      opacity: 1;
    }
  }


}

.footer-menu {
  a:hover {
    color: $primary  !important;
    transition: 0.9s !important;
  }
}

#goods-count-input {
  max-width: 80px;
  border-color: #0d6efd;
}

//category cards

.edit-button,
.delete_button {
  width: 35px;
  height: 35px;
}

.form-label {
  font-size: 1.2rem !important;
}

// .category-card,
// .product-card {
//   a.category-edit {
//     width: 35px;
//     height: 35px;
//   }

//   a.category-delete {
//     width: 35px;
//     height: 35px;
//   }
// }

.button-bucket {
  width: 49%;

  button {
    position: relative;
    height: 30px;
    width: 100%;

    i {
      position: absolute;
      top: 50%;
      left: 35%;
    }
  }
}

// style for total price product in bucket
.count-price-bucket {
  p {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  #pre-header {
    h4 {
      justify-content: center;
      margin-top: 5px !important;
      margin-bottom: 0;
    }
  }

  .banner-info {
    width: 80% !important
  }
}

@media (min-width: 992px) {
  .navbar-brand {
    position: relative;
    width: 100%;
  }

  .nav-cont {
    display: flex !important;
    align-items: flex-start !important;
    flex-direction: column !important;
  }

  a.logo-area {
    display: flex !important;
    margin: 0 auto !important;
  }

  #navigation {
    li {
      a:hover {
        color: $warning  !important;
        transition: 0.9s !important;
      }
    }
  }
}




@media (max-width: 992px) {


  #navigation {
    li {
      border-top: 1px rgba(0, 0, 0, 0.1) solid;
    }

    li:hover {
      background-color: $primary;
      transition: 1.2s;
    }
  }
}

@media (max-width: 575px) {

  // bucket styles for mobile
  .button-bucket-cont {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .button-bucket {
    width: 49%;

    button {
      width: 100%;
    }
  }

  .count-price-bucket {
    p {
      margin-bottom: 0;
    }
  }
}

@import '../node_modules/bootstrap/scss/bootstrap.scss';