{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="section-heading">
    <div class="line-dec"></div>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-3">
    </div>

    <div class="col-md-6">
    <form name="city_form" action="{% url 'goods_processing' %}" method="POST">
      {% csrf_token %}
    <label class="form-label" for="cities">Виберіть місто:</label>

    <!-- SELECT CITY -->
    <div class="input-group">
      <select class="form-select" style="min-width: 200px;" value="{{city}}" name="city" id="cities">
        {% if city %}
        <option>{{city}}</option>
        {% else %}
          {% for city in city_list %}
            <option>{{city}}</option>
          {% endfor %}
        {% endif %}
      </select>
      {% if city == "" %}
        <input class="btn btn-primary" type="submit" value="Обрати">
      {% else %}
        <a class="btn btn-primary" href="{% url 'goods_processing' %}">Вибрати інше</a>
      {% endif %}
    </div>
    </form>
    <hr>

    <!-- SELECT MAIL POST AND INFO -->
    <form name="order-form"  action="{% url 'goods_processing' %}" method="POST">
      {% csrf_token %}
      <label for="posts" class="form-label">Виберіть відділення Нової Пошти:</label>
      <select class="form-select" name="posts" id="posts" style="min-width: 300px; width: 100%;">
      {% if posts_list %}
        {% for post in posts_list %}
          <option>{{post}}</option>
        {% endfor %}
      {% else %}
        <option>Спочатку оберіть місто</option>
      {% endif %}
      </select>

      <!-- hidden city value for django -->
      <input  type="hidden" name="selected-city" value="{{city}}" style="width: 100%;">

      <label class="form-label"> Ім'я отримувача</label>
      {% if profile.first_name != None %}
        <input class="form-control" type="text" name="name" value="{{profile.first_name}}" style="width: 100%;">
      {% else %}
        <input class="form-control" type="text" name="name" value="" style="width: 100%;">
      {% endif %}

      <label class="form-label"> Фамілія отримувача</label>
      {% if profile.second_name != None %}
        <input class="form-control" type="text" name="surname" value="{{profile.second_name}}"style="width: 100%;">
      {% else %}
        <input class="form-control" type="text" name="surname" value=""style="width: 100%;">
      {% endif %}


      <label class="form-label"> По батькові</label>
      {% if profile.father_name != None %}
        <input class="form-control" type="text" name="father_name" value="{{profile.father_name}}" style="width: 100%;">
      {% else %}
        <input class="form-control" type="text" name="father_name" value="" style="width: 100%;">
      {% endif %}

      <label class="form-label">Номер телефону</label>
      <input class="form-control" type="text" name="phone" style="width: 100%;">
      <label>Електронна скринька</label>
      <input class="form-control" type="text" name="email" value="{{profile.email}}" style="width: 100%;">

      {% for message in messages %}
        <p style="font-size: 1.3em; color: #a41515">{{message}}</p>
      {% endfor %}
      <div class="d-grid mt-2">
        <button class="btn btn-success w-100 text-center" type="submit">Завершити</button>
      </div>
    </form>
    </div>

    <div class="col-md-3">
      <fieldset>
      </fieldset>
    </div>

  </div>

</div>
{% endblock %}