{% load static %}

<div id="pre-header" class="bg-primary sticky-top">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h4 class="d-none d-md-flex text-light mx-auto mt-3">Це Щось!</h4>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-10">
            <form id="searchForm" class="search--form form-horizontal py-3" method="GET" action="{% url 'search_goods' %}">
              <div class="input-group">
                <input type="text" class="search-value form-control" placeholder="Введіть пошуковий запит" name="search_query" />
                <button type="submit" class="search--submit btn btn-outline-light">Пошук</button>
              </div>
            </form>
          </div>
            <div class="col-2 pt-4">
            {% if request.user.is_authenticated %}
            <a href="{% url 'bucket' user.profile.id %}"><i class="fa-solid fa-cart-shopping fa-2xl text-white"></i></a>
            {% else %}
            <a href="{% url 'non-user-bucket' %}"><i class="fa-solid fa-cart-shopping fa-2xl text-white"></i></a>
            {% endif %}
          </div>

        </div>
        
                 
      

      </div>
    </div>
  </div>



  <!-- NAVBAR -->
  <section id="navigation">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container nav-cont d-flex" >



        <a class="py-4 mx-auto d-flex" href="#"><img src='{% static "images/header-logo.png" %}' alt=""></a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mx-auto"  id="navbarResponsive">
          <ul class="navbar-nav ms-auto text-center">
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'goods' %}">Головна
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'categories' %}">Категорії</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">Інформація</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contacts' %}">Контакти</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
    
              <a class="nav-link" href="{% url 'profile' user.profile.id %}">Профіль</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Вийти</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Увійти</a>
            </li>
            {% endif %}
            {% if request.user.is_superuser %}
            <li>
              <a class="nav-link" href="{% url 'orders_management' %}">Замовлення</a>
            </li>

            {% endif %}
    

          </ul>
        </div>
      </div>
    </nav>

  </section>
  </div>



