{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="section-heading">
  <div class="line-dec"></div>
</div>

<div class="container my-5">
  <div class="row">

    <div class="col-md-1">
    </div>

    <div class="col-md-10">
      <h1 class="display-4">Ваше замовлення успішно оформлено. Через деякий час з вами зв'яжеться наш продавець.
        Статус замовлення ви можете моніторити у вашому кошику.</h1>
    </div>

    <div class="col-md-1">
    </div>
  </div>
</div>










{% endblock %}